<ion-header>
  <ion-toolbar>
    <ion-title>
      Toolbar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <br>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Standard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <br>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        CLEAR
      </ion-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        DONE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <br>

  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="all" checked>
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  

  <ion-toolbar>
    <ion-title>Progress</ion-title>
    <ion-progress-bar color="primary" value="0.4"></ion-progress-bar>
    
  </ion-toolbar>
  <br>

  <ion-toolbar color="primary">
    <ion-title>Primary</ion-title>
    
  </ion-toolbar>
  <br>

  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tertiary</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<br>

  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Danger</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>Click to Add Text </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
